# Build Related 
/build/
Debug/
Release/
cmake-build-debug


# CubeIDE / Clion
.metadata/
.settings/
*.launch
.idea 

# Toolchain
*.o
*.elf
*.map
*.bin
*.hex

# Logs / temp
*.log

# Helpers 
local_docs/